@media only screen and (max-width: 560px) {
    body {
        font-size: 60%;
    }
    #left-widget{
        text-align: center;
    }
    #name-top {
        font-size: 2rem;
    }
    #name-bottom {
        font-size: 4.5rem;
    }
    .main-section-group {
        margin-bottom: 0rem !important;
    }
    #title-job {
        font-size: 2rem;
    }
    .row-label {
        text-transform: none;
        width: 33%;
    }
    #contact-info {
        height: 15rem;
    }
    #contact-details p {
        font-size: 1.3rem;
    }
    .row-content {
        width: 50%;
        margin: 0 auto;
        text-align: right;
    }
    .info-title {
        font-size: 1rem;
    }
}
